* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el-l-2-custom-post-item-vasutheme {
    display: flex;
    flex-direction: row; /* Display items horizontally */
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}



.el-l-2-custom-post-item-vasutheme .el-l-2-post-thumbnail-vasutheme img {
    border-radius: 10px;
    height: 150px; /* Set a fixed height */
    max-width:  200px;
    /* Ensure the image does not exceed its container's width */
   
    /* Maintain aspect ratio and cover the container */
}


 .el-l-2-all-content-vasutheme{
    margin-left: 20px;
 
}

/*
.el-l-2-post-thumbnail-vasutheme{
    margin-right: 20px;

} */

.el-l-2-post-content {
    flex: 1; /* Take remaining space */
    padding-left: 20px; /* Add spacing between image and content */
}

.el-l-2-post-title-vasutheme a {
    color: var(--text-color);
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
}

.el-l-2-post-meta-vasutheme {
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.el-l-2-category-meta-vasutheme a {
    color: black;
}

.el-l-2-author-avatar-vasutheme {
    height: 20px;
    width: 30px;
    border-radius: 100% !important;
    border: solid 1px rgba(22, 69, 224, 0.3);
    margin-right: 10px;
}

.el-l-2-name-meta-vasutheme:hover {
    text-decoration: underline;
    color: rgb(229, 11, 11);
}

.el-l-2-date-meta-vasutheme{
    margin-left: 10px;
}

.el-l-2-name-meta-vasutheme{
    color: black;
}

@media(max-width:1050px){
    .el-l-2-custom-post-item-vasutheme {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
    }
    .el-l-2-post-title-vasutheme a {
        color: var(--text-color);
        line-height: normal;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 10px;
    }

    .el-l-2-post-thumbnail-vasutheme{
        margin-left: 0px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .el-l-2-custom-post-item-vasutheme .el-l-2-post-thumbnail-vasutheme img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .el-l-2-all-content-vasutheme{
        margin-left: 0px;
     
    }
}


